# Node.js dependencies
node_modules/

# Output directories
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp

# TypeScript specific
*.tsbuildinfo

# Ignore Docker-related files (if not needed in the repo)
docker-compose.override.yml
